---
to: '{{ name }}/src/index.ts'
---

export type { {{ name | replace(from="-", to=" ") | title | replace(from=" ", to="") }}Props } from './{{ name }}'
export { default as {{ name | replace(from="-", to=" ") | title | replace(from=" ", to="") }} } from './{{ name }}'
